.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
    margin-top: -3vw;
    margin-bottom: 2vw;
    margin-left: 27vw;
}

#neighbourhood-title {
    margin-bottom: 0vw;
}

.post-container {
    border: 0.3vw solid #ccc;
    border-radius: 15px;
    margin-bottom: 2vw;
    padding: 2vw;
    max-width: 60vw; /* Adjust the width as needed */
    width: 100%; /* Ensure the container takes the full width available */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.post-user {
    font-weight: bold;
    font-size: 2vw;
}

.post-description {
    margin-top: 1vw;
    font-size: 1.5vw;
}

.post-image {
    max-width: 90%;
    height: auto;
    margin-top: 2vw;
}

.post-metadata {
    color: #666;
    font-size: 1.2vw;
    margin-top: 1vw;
}

.feed-container {
    max-width: 90vw;
    margin-left: 18vw;
}

.search-container {
    text-align: center;
    margin-bottom: 5vw;
}

#search-input {
    width: 20vw;
    padding: 1vw;
    font-size: 1.3vw;
    border: 0.2vw solid #ccc;
}

#search-button {
    padding: 1vw 2vw;
    font-size: 1.3vw;
    background-color: #007bff;
    color: #fff;
    border: 0.2vw solid #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #0056b3;
}
