.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
    margin-top: -3vw;
    margin-bottom: 2vw;
}

#neighbourhood-title {
    margin-bottom: 0;
    margin-left: 27vw;
}

.post-container {
    border: 3px solid #ccc;
    border-radius: 15px;
    margin-bottom: 2vw;
    padding: 2vw;
    max-width: 60vw;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; /* Ensure that any overflowing content is hidden */
}

.post-user {
    font-weight: bold;
    font-size: 2vw;
}

.post-description {
    margin-top: 1vw;
    font-size: 1.5vw;
}

.post-description img {
    max-width: 100%; /* Ensure the image width fits within its container */
    max-height: 100%; /* Ensure the image height fits within its container */
    object-fit: contain; /* Ensure the entire image fits within the container */
    display: block; /* Remove any potential extra space */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 10px; /* Apply border radius to the image */
}

.post-metadata {
    color: #666;
    font-size: 1.2vw;
    margin-top: 1vw;
}

.feed-container {
    max-width: 90vw;
    margin-left: 18vw;
}

.search-container {
    text-align: center;
    margin-bottom: 5vw;
}

#search-input {
    width: 20vw;
    padding: 1vw;
    font-size: 1.3vw;
    border: 2px solid #ccc;
}

#search-button {
    padding: 1vw 2vw;
    font-size: 1.3vw;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #0056b3;
}
