body {
    font-family: "Roboto";
}

.sign-up-business {
    width: 360px;
    height: 440px;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(228, 228, 228);
}

.sign-up-business h1 {
    text-align: center;
    padding-top: 15px;
}

.sign-up-business form {
    width: 20vw;
    margin-left: 20px;
}

.sign-up-business form label {
    display: flex;
    margin-top: 20px;
    font-size: 1.3vw;
}

.sign-up-business form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.sign-up-business input[type="button"] {
    width: 21vw;
    height: 3vw;
    margin-top: 20px;
    border: none;
    background-color: #3d30a2;
    color: white;
    font-size: 1.3vw;
}

.sign-up-business input[type="button"]:hover {
    cursor: pointer;
    background-color: #5549ae;
}

.sign-up-business p {
    text-align: center;
    font-size: 0.8vw;
}

.para-2 {
    text-align: center;
    font-size: 0.8vw;
    margin-top: 1vw;
    transform: translateY(3vw);
}

.para-2 a {
    color: #3d30a2;
}

#type,
#neighbourhood {
    border-radius: 8px;
    padding: 0.5vw 1vw;
}
