body {
    font-family: Roboto;
}

.landing-page {
    margin-top: 8vw;
}

.title {
    position: relative;
    font-family: "Roboto";
    font-size: 4.5vw;
    font-weight: 800;
    margin-left: 5vw;
    color: #c54189;
    word-wrap: break-word;
    width: 60vw;
}

.title p {
    margin-bottom: 2vw;
}

#description {
    font-size: 1.5vw;
    line-height: 2vw;
    text-align: left;
    color: rgb(235, 235, 235);
    position: absolute;
    transform: translateY(-22vw);
    margin-left: 5vw;
}

#get-started {
    background-color: #f2e982;
    font-size: 1.5vw;
    font-weight: 500;
    padding: 1.5vw 2.5vw;
    border: none;
    border-radius: 12px;
    position: absolute;
    margin-left: 5vw;
    transform: translateY(-10vw);
}

#get-started:hover {
    cursor: pointer;
    background-color: #fffcd8;
}

#local-business-icon {
    float: right;
    width: 28vw;
    margin-right: 3vw;
    border: 2px solid #f2e982ba;
    border-radius: 40px;
    transform: translateY(-35vw);
}
